@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.typekit.net/jpy6bhw.css");
@import url("https://use.typekit.net/jpy6bhw.css");

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8rem;
}


p {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
}

.purple{
  color:#926284;
}

.green{
  color: #24544F;
}

.auburn{
  color:#8B3527;
}

.orange{
  color:#A84227;
}
.main{
    height:100vh;
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
  }
  
  .roller{
    height: 8.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  #spare-time{
    font-size: 1rem;
    font-style: italic;
    margin-top: 0;
    
  }
  
  .roller #rolltext {
    position: absolute;
    margin-top: 0;
    animation: slide 5s infinite;  
  }
  
  
  @keyframes slide {
    0% {
        top: 10;
    }
    8% {
        top: 0;
    }
    16% {
        top: calc(-8.125rem * 1);
    }
    24% {
        top: calc(-8.125rem * 1);
    }
    32% {
        top: calc(-8.125rem * 2);
    }
    40% {
        top: calc(-8.125rem * 2);
    }
    48% {
        top: calc(-8.125rem * 3);
    }
    56% {
        top: calc(-8.125rem * 3);
    }
    64% {
        top: calc(-8.125rem * 4);
    }
    72% {
      top: calc(-8.125rem * 4);
  }
    80% {
    top: calc(-8.125rem * 5);
}
    88% {
  top: calc(-8.125rem * 5);
}
    96% {
  top: calc(-8.125rem * 6);
}
    100% {
  top: calc(-8.125rem * 6);
}
}
  @media screen and (max-width: 600px){
    h1{
    text-align:center;
    text-transform: uppercase;
    font-size: 2.125rem;
  }
    
    .roller{
    height: 2.6rem; 
    line-height: 2.125rem;  
    }
    
    #spare-time {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    
    .roller #rolltext {  
    animation: slide-mob 5s infinite;  
  }
    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  }

  .footer {
    display: flex;
    justify-content: space-around;
   border:2px solid red;
   margin-left: 2vw;
   margin-right:2vw;
   flex-direction:row;
}

html, body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  /* overflow-scrolling: touch; */
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}


.slides-wrapper {
  margin-top:0px;
}

.panel {
	width: 100%;
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  text-align: left;
  position: relative;
  box-sizing: border-box;
  padding: 2vw;
  overflow:hidden;
}



.panel h1 {
  font-size: 10rem;
  margin: 0 auto;
  text-transform:uppercase;
}




