@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.typekit.net/jpy6bhw.css");
@import url("https://use.typekit.net/jpy6bhw.css");
h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 8rem;
  }
  
  
  p {
    font-family: "franklin-gothic-urw", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
  }


  .container{
    display: flex;
    margin-left: 3vw;
    margin-right: 3vw;
    flex-direction: column;
  }

  .footer {
    display: flex;
    justify-content: space-around;
   border:2px solid red;
   margin-left: 2vw;
   margin-right:2vw;
   flex-direction:row;
}