@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.typekit.net/jpy6bhw.css");
@import url("https://use.typekit.net/jpy6bhw.css");

body {
  margin: 0;
  height: 100vh;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8rem;
  color: #081538;
  text-align: center;
}

.h1{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 20rem;
  color: white;
  text-align: center;
  padding-top: 13rem;
}

p {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  color: #081538;
}

mark{
  color:#AA7788;
  background-color: transparent;
  font-weight: 600;
}
.container{
  position:relative;
  width:100vw;
  margin-left: 0;
  margin-right: 0;
  /* border: 1px solid red; */
}
.container .section{
  position:sticky;
  top:0;
  margin-left: 0;
  margin-right:0;
  height:100vh;
  /* border: 2px solid red; */
}


.container .section:nth-child(1){
  background-color: white;
  background-size: cover;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
  /* what had periods to do with it */
}
.container .section:nth-child(2){
  background-color:white;
  background-size:cover;
  padding-top:20vh;
  text-align: center;
  /* Inevitably no matter how completely */
}
.container .section:nth-child(3){
  background-color:#A62510;
  padding-left: 2vw;
  padding-right: 2vw;
  text-align: center;
  /* Stopping */
}

.container .section:nth-child(4){
  background-size:cover;
  background-color:white;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 3rem;
  /* sometime did not really keep one */
}

.container .section:nth-child(5){
  background-size:cover;
  background-color:white;
  padding-left: 3vw;
  padding-right: 2vw;
  padding-top: 25vh;
  /* Beside that periods might later come to have */
}

.container .section:nth-child(6){
  background-size:cover;
  background-color:white;
  padding-left: 2 vw;
  padding-right: 2vw;
  padding-top: 30vh;
  text-align: center;
  /* They could begin to act as  */
}

.container .section:nth-child(7){
  background-size:cover;
  background-color:white;
  padding-left: 2 vw;
  padding-right: 2vw;
  padding-top: 10vh;
  /* They did not serve you in  */
}

.container .section:nth-child(8){
  background-size:cover;
  background-color:white;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 20vh;
  /* Periods have a life of their own a necessity */
}

.container .section:nth-child(9){
  background-size:cover;
  background-color:white;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.1rem;
  /* You can see what an entirely different  */
}


.footer {
  position: absolute;
  display: flex;
  justify-content: space-around;
   margin-left: 2vw;
   margin-right:2vw;
   width:80%;
   left: 50%; 
   transform: translateX(-50%); 
   top: 140vh; 
}

.padding{
  padding-top: 12rem;
}

/* Styles for screens smaller than or equal to 767.98px (typical mobile size) */
@media (max-width: 767.98px) {
  .container .section {
    padding: 1vw;
  }
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 4rem;
  }
  .h1{
    font-size: 4rem;
  }
  
  .footer {
    display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  left: 80vw;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1vh;
  }
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Styles for screens larger than or equal to 768px (typical tablet size) */
@media (min-width: 768px) {
  .container .section {
    padding: 3vw;
  }
}

/* Styles for screens larger than or equal to 1024px (typical desktop size) */
@media (min-width: 1024px) {
  .container .section {
    padding: 4vw;
  }
  p {
    font-size: 2.5rem;
  }
  h1 {
    font-size: 10rem;
  }
}
