@import url("https://use.typekit.net/jpy6bhw.css");
@font-face {
    font-family: Workfolk;
    src: url("P2/wishing for summer.com/Workfolk.otf");
}

body {
    background-color: #F3ECE2;
    text-align: center;
    margin: 0; 
    padding: 0; 
}

a {
    font-family: Workfolk;
    font-size: 4rem;
    color: #098870;
    text-decoration: none;
    display: block;
    padding-bottom: 3rem;
}

a:hover {
    color: #D26329;
    text-decoration: none;
}

button {
    border: none; 
    background-color: transparent;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
    font-family: Workfolk;
    font-size: 4rem;
    color: #098870;
    text-decoration: none;
    padding-top: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    /* border: solid black 1px; */
}

img {
    position: absolute;
    display: inline-block;
    height: 50%;
    align-self: center;
}

/* #dude {
    z-index: -100;
    width: 16rem;
    height: auto;
    position: relative;
    align-self: center;
} */

.shirt {
    visibility: hidden;
    z-index: 2;
    position: absolute;
    align-self: center;
}

@media screen and (max-width: 767px) {
    button,
    .container,
    img {
        position: static;
        display: block;
        margin: 0 auto;
        padding-left: 50vw;
    }

a {
    display: inline-block;
    font-family: Workfolk;
    font-size: 6rem;
    color: #098870;
    text-decoration: none;
    padding-bottom: 3rem;
}
}