@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url("https://use.typekit.net/jpy6bhw.css");
@import url("https://use.typekit.net/jpy6bhw.css");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 8rem;
}


p {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
}

.p2{
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.95rem;
  text-align: justify;
}
  .flexcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    gap: 1.5rem;
    padding-top: 24vh;
    /* border: 1px solid black; */
  }

  .svg-container {
    display: flex;
    flex-basis: auto;
    width: 30%;
    /* border: 1px solid black; */
}

.text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}


  .footer {
  display: flex;
  justify-content: space-around;
   border:2px solid rgb(140, 70, 70);
   margin-left: 2vw;
   margin-right:2vw;
   flex-direction:row;
}

.container{
  position:relative;
  width:100vw;
  margin-left: 0;
  margin-right: 0;
  /* border: 1px solid red; */
}
.container .section{
  position:sticky;
  top:0;
  width: calc(100vw - 4vw);
  height:100vh;
  /* border: 2px solid purple; */
}
.container .section:nth-child(1){
  background-color:white;
  background-size:cover;
  margin-left: 2vw;
  text-align: center;
  /* it is evident */
}
.container .section:nth-child(2){
  background-color:white;
  background-size:cover;
  margin-left: 2vw;
  /* quotation marks */
}
.container .section:nth-child(3){
  background-color:antiquewhite;
  background-size:cover;
  padding-left: 2vw;
  padding-right: 2vw;

}
.container .section:nth-child(4){
  background-color:white;
  background-size:cover;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top:1%;
  text-align: center;
  /* thereforewherefore */
}
.container .section:nth-child(5){
  background-color:antiquewhite;
  background-size:cover;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top:1%;
  /* Beside it does not in its form */
}

.container .section:nth-child(6){
  background-color:antiquewhite;
  background-size:cover;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top:1%;

}

.container .section:nth-child(7){
  background-color:antiquewhite;
  background-size:cover;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top:1%;
}

.container .section:nth-child(8){
  background-color:antiquewhite;
  background-size:cover;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top:1%;
 
}

